@model html_helper.Models.Persona
@{
    ViewBag.Title = "About";
}

<h2>Bienvenido al sistema</h2>

<div class="form-horizontal">
    @Html.AntiForgeryToken()

    <hr />

    <div class="form-group">
        <div class="col-md-10">
            <label>La Cedula es: @Model.Cedula <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>El Nombre es: @Model.Nombre <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>El Apellido es: @Model.Apellido <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>La edad es: @Model.Edad <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>El telefono es: @Model.Telefono <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>El correo es: @Model.Correo <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Genero: @Model.Genero <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Su estado civil es: @Model.EstadoCivil <br /></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Su Hobby es: @Model.Hobbys <br /></label>
        </div>
    </div>
</div>